/*
	@name desktop___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__desktop___1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}

#keep_walking_man_empty_theme_blue_1 {
	top: -140px;
	left: -62px;
	width: 901.68px;
	height: 1404.78px;
}

#vector {
	top: 0px;
	left: 0px;
	width: 899.62px;
	height: 1404.78px;
}

#keep_walking_man_empty_theme_blue_2 {
	top: 294px;
	left: 3130px;
	width: 901.68px;
	height: 1404.78px;
}

#vector_ek1 {
	top: 513.11px;
	left: -1330.14px;
	width: 899.62px;
	height: 1404.78px;
}


#_8730aea287321c61bfc1c7b92ff0b66c_1 {
	top: -19px;
	left: 1005px;
	width: 547.39px;
	height: 1079.76px;
}


#client_logo_web_1 {
	top: 18px;
	left: 583px;
	width: 309px;
	height: 153px;
}


#johnnie_walker {
	top: 323px;
	left: 64px;
	width: 364.5px;
	height: 50.5px;
	overflow: hidden;
	font-family: Jacques Francois;
	font-size: 25px;
	text-align: left;
	color:#000000;
}

#menu {
	top: 128px;
	left: 61px;
	width: 24px;
	height: 24px;
}

#vector_ek2 {
	top: 12px;
	left: 3px;
	width: 18px;
	height: 0px;
}


#vector_ek3 {
	top: 6px;
	left: 3px;
	width: 18px;
	height: 0px;
}


#vector_ek4 {
	top: 18px;
	left: 3px;
	width: 18px;
	height: 0px;
}


#menu_ek1 {
	top: 128px;
	left: 116px;
	width: 90px;
	height: 37px;
	overflow: hidden;
	font-family: Istok Web;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#_10_1 {
	top: 356px;
	left: 85px;
	width: 180px;
	height: 38px;
}


#line_1 {
	top: 468px;
	left: 61px;
	width: 358px;
	height: 1px;
	background:#000000;
}


#johnnie_walker_blue_label_is_an_unrivalled_masterpiece__it_is_an_exquisite_blend_made_from_some_of_scotland_s_rarest_and_most_exceptional_whiskies__only_one_in_every_ten_thousand_casks_has_the_elusive_quality__character_and_flavour_to_deliver_the__remarkable_signature_taste_of_johnnie_walker_blue_label__an_extraordinary_whisky_for_extraordinary_occasions_ {
	top: 480px;
	left: 61px;
	width: 416.5px;
	height: 130.5px;
	overflow: hidden;
	font-family: Jacques Francois;
	font-size: 15px;
	text-align: left;
	color:#000000;
}


#__321_99 {
	top: 670px;
	left: 64px;
	width: 105px;
	height: 51px;
	overflow: hidden;
	font-family: Arima Madurai;
	font-size: 22px;
	text-align: left;
	color:#0056FF;
}


#_01_johnnie_walker_blue_label_1 {
	top: 171px;
	left: 231px;
	width: 917px;
	height: 848px;
}


#vector_ek5 {
	top: 128px;
	left: 212px;
	width: 20.62px;
	height: 25px;
}


#rectangle_2 {
	top: 736px;
	left: 64px;
	width: 94px;
	height: 33px;
	border: 1px solid #000000;
	background:rgba(255,254.36,254.36,1);
}


#rectangle_3 {
	opacity:0.99000000953674;
	top: 736px;
	left: 231px;
	width: 94px;
	height: 33px;
	border: 1px solid #000000;
	background:rgba(0,32.87,96.69,0.99);
}


#__ {
	top: 733px;
	left: 73px;
	width: 34px;
	height: 51px;
	overflow: hidden;
	font-family: Arima Madurai;
	font-size: 22px;
	text-align: left;
	color:#000000;
}


#line_2 {
	top: 752px;
	left: 85px;
	width: 18px;
	height: 0.5px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#000000;
}


#line_3 {
	top: 752px;
	left: 117px;
	width: 18px;
	height: 0.5px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#000000;
}


#_2 {
	top: 736px;
	left: 105px;
	width: 38px;
	height: 51px;
	overflow: hidden;
	font-family: Arima Madurai;
	font-size: 22px;
	text-align: left;
	color:#000000;
}


#___ek1 {
	top: 736px;
	left: 140px;
	width: 38px;
	height: 51px;
	overflow: hidden;
	font-family: Arima Madurai;
	font-size: 22px;
	text-align: left;
	color:#000000;
}


#purchase {
	top: 741px;
	left: 240px;
	width: 115.5px;
	height: 32.5px;
	overflow: hidden;
	font-family: Mukta;
	font-size: 15px;
	text-align: left;
	color:#FFFFFF;
}



/* Add your custom CSS here */
